<h2>Shouts Page</h2>

<aside>
  <fieldset>
    <%= form_for @text_shout do |form| %>
      <%= form.label :body, "Text Shout" %>
      <%= form.text_field :body %>
      <%= form.submit "Go" %>
    <% end %>
  </fieldset>
</aside>
<aside>
  <fieldset>
    <%= form_for @picture_shout do |form| %>
      <%= form.label :url, "Picture Shout" %>
      <%= form.text_field :url %>
      <%= form.submit "Go" %>
    <% end %>
  </fieldset>
</aside>

<br>
<%= render @timeline %>
<%= paginate @timeline %>


